.container {
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 15px 20px;
  display: flex;
  gap: 10px;
}

.row {
  flex-direction: row;

  @media (max-width: 720px) {
    flex-direction: column;
  }
}

.column {
  flex-direction: column;

}


.text {
  font-size: 14px;
  color: gray;
}